<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>РАНДОМАЙЗЕР НІГТІВ</title>

    <div ><table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Form</th>
            <th>Color</th>
            <th>Design</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="manicure : ${manicure3first}">
            <td th:text="${manicure.id}"></td>
            <td> <a th:text = "${manicure.form}"  th:href="@{/randomManicure/getByForm/{form}(form=${manicure.form})}"></a></td>
            <td th:text="${manicure.color}"></td>
            <td th:text="${manicure.design}"></td>
        </tr>
        </tbody>
        </table>
    </div>
</head>
<body>

</body>
</html>